{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid col-md-11 text-center">
    <h2 class="text text-success mb-2">Brand List</h2>
    {% if is_granted('ROLE_ADMIN') %}
       <a class="btn btn-primary mb-3" href="{{ path('brand_add')}}">ADD</a>
    {% endif %}
    
    <h3 class="text text-danger mt-3">
    {% set total = brands|length %}
    {% if total <= 1 %}
        Number of Brands :
    {% else %}
        Number of Brands :
    {% endif %}
        {{ total }}
    </h3>
    <table class="table table-hover mt-6">
        <tr>
            <th>Brand Id
                <select onchange="window.location.href=this.value">
                    <option>Sort</option>
                    <option value="{{ path('brand_asc')}}">Ascending</option>
                    <option value="{{ path('brand_desc')}}">Descending</option>
                </select>       
            </th>
            <th>Brand Name</th>
            <th>Owner</th>
            <th>Company value (Bilion Dollar)</th>
            <th>Brand country
                <select onchange="window.location.href=this.value">
                    <option value="">Filter</option>
                    {% for country in countries %}
                        <option value="{{ path('brand_filter', {'id' : country.id}) }}">{{ country.name }}</option>
                    {% endfor %}
                </select>        
            </th>
            <th>Brand logo</th>
            <th>Menu</th>
        </tr>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.Owner }}</td>
                <td>{{ brand.value }}</td>
                <th>
                    {% if brand.country != null %}
                        <a class="text text-success text-decoration-none" href="{{ path('country_detail', {'id' : brand.country.id })}}">
                            {{ brand.country.name }}
                        </a>   
                    {% endif %}
                </th>
                <td>
                    <a href="{{ path('brand_detail' , {'id' : brand.id })}}">
                        <img src="{{ brand.image }}" width=100 height=100>
                    </a>      
                </td>
                <td>
                    <a class="btn btn-warning" href="{{ path('brand_edit', {'id' : brand.id }) }}">EDIT</a>
                    <a class="btn btn-danger" 
                    href="{{ path('brand_delete', {'id' : brand.id}) }}"
                    onclick="return confirm('Do you want to delete this brand ?');"
                    >DELETE</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}