{% extends "base.html.twig" %}
{% form_theme FormOder 'bootstrap_5_layout.html.twig' %}
{% block body %}
{% for flash in app.flashes("Success") %}
    <p class="alert alert-primary">{{ flash }}</p>
{% endfor %}
{% for flash in app.flashes("Error") %}
    <p class="alert alert-danger">{{ flash }}</p>
{% endfor %}
    <div class="product">
       <table>
       <tr>
           <th>
            <div class="productImg">
            <img src="{{ product.image }}" alt="" width="500px", height="500px">
            </div>
           </th>
           <th>
            <div class="infomation ms-5 ">
            <h2>Title: {{ product.title }}</h2>
            <h2>Price: <span>{{ product.price }}</span><sup>VND</sup></h2>
            <h2>quantity: {{ product.quantity }}</h2>
            <h2>Color: <span>{{ product.color }}</spanh4>
            <h2>Size: {{ product.size }}</h2>
            </div>
           </th>
       </tr>
       </table>
        
        

    {{form(FormOder)}}
    </div>
{% endblock %}